<header class="flex justify-between md:justify-around h-16 bg-blue-200 mx-4 m-auto">
    <p class="font-bold text-3xl bg-blue-300 px-2 py-3 ">WeatherTop</p>
    <nav class="flex justify-self-center">
        <ul class="flex items-center justify-around text-2xl">
            <li class="nav-li">
                <a href="/">Home</a></li>
            <li class="nav-li"><a href="/stations">Stations</a></li>
            <li class="nav-li"><a href="/about">About</a></li>
        </ul>
    </nav>
</header>