<header class="flex justify-between md:justify-around items-center bg-purple-200 m-auto shadow-md">
    <p class="flex font-bold text-purple-800 md:text-3xl items-center">
        <img src="https://cdn2.iconfinder.com/data/icons/weather-color-2/500/weather-02-64.png" alt="">
        WeatherTop</p>
    <nav class="hidden md:flex h-full text-purple-500 text-xl">
        <a class="p-4 text-purple-500 hover:bg-purple-300 transition" href="/">Home</a>
        <a class="p-4 text-purple-500 hover:bg-purple-300 transition" href="/stations">Stations</a>
        <a class="p-4 text-purple-500 hover:bg-purple-300 transition" href="/about">About</a>
    </nav>
    <a href="javascript:void(0);" class="icon md:hidden h-full p-4" onclick="myFunction()">
        <i class="fas fa-bars fa-2x"></i>
    </a>

</header>

<nav id="myLinks" class="hidden flex flex-col transition">
    <a class="block w-full p-2 bg-purple-200 hover:bg-purple-300" href="/">Home</a>
    <a class="block w-full p-2 bg-purple-200 hover:bg-purple-300" href="/stations">Stations</a>
    <a class="block w-full p-2 bg-purple-200 hover:bg-purple-300" href="/about">About</a>
</nav>