<header id="header" class="nav-container">
  <p class="nav-logo">
    <img src="https://cdn2.iconfinder.com/data/icons/weather-color-2/500/weather-02-64.png" alt="">
    WeatherTop
  </p>
  <nav id="nav" class="nav">
    <a class="nav-item" id="home" href="/">Home</a>
    <a class="nav-item" id="login" href="/login">Log In</a>
    <a class="nav-item" id="signup" href="/signup">Sign Up</a>
  </nav>
  <a href="javascript:void(0);" class="icon md:hidden h-full p-4" onclick="showNav()">
    <i class="fas fa-bars fa-2x"></i>
  </a>
</header>

<script>
  $("#${_id}").addClass("active");
</script>