#{extends 'main.html' /}
#{set title:'Stations' /}

#{menu id:"stations"/}

#{list items:stationList, as:'station'}

<section class="m-2 p-2 border-2 rounded">
    <h1 class="font-bold text-2xl text-purple-500">${station.name}</h1>

    <table class="min-w-full text-right">
        <thead class="bg-purple-100 font-bold text-purple-500">
        <tr>
            <th class="p-2">Code</th>
            <th class="p-2">Temperature</th>
            <th class="p-2">Wind Speed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            #{listreadings station:station/}
        </tr>
        </tbody>
    </table>
</section>

#{/list}