#{extends 'main.html' /}
#{set title:'Log In' /}

#{loggedoutmenu id:"login"/}

#{if msg}
<div id="toast" class="toast">
  <span>${msg}</span>
  <span class="toast-close" onclick="closeToast()"><i class="far fa-times-circle"></i></span>
</div>
#{/if}

<section class="form-container">
  <h1 class="font-bold text-xl py-4">Log In</h1>

  <form action="/authenticate" method="post" class="form">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" class="form-input" placeholder="email@example.com" required>
    <label for="password">Password</label>
    <input type="password" id="password" class="form-input" name="password" required>
    <div class="flex w-full justify-between items-center">
      <a href="#" class="inline-block text-purple-500 hover:text-purple-800 hover:underline">Forgot your password?</a>
      <button type="submit" class="form-button">Log In</button>
    </div>
  </form>

</section>