#{extends 'main.html' /}
#{set title:'Home' /}

#{loggedoutmenu id:"home"/}

<section class="">

  <img class="object-cover h-96 w-full rounded-lg"
       src="public/images/sky.jpg"
       alt="">

  <br>
  <h1>Welcome to WeatherTop!</h1>
  <br>
  <p>WeatherTop is a brand new portal for you to track your weather stats by location! All your stats are saved to your own account, and if you want to share,
  feel free to make a station public so others can see the your wonderful contributions! If you're new, <a href="/signup" class="p-link">register here</a>. Otherwise, login
    <a href="/login" class="p-link">here</a>.</p>
</section>
