#{extends 'main.html' /}
#{set title:'Stations' /}

#{menu id:"stations"/}

#{list items:stations, as:'station'}

<section class="m-2 p-2 border-2 rounded">
    <h1 class="font-bold text-2xl text-purple-500">${station.name}</h1>
    <a href="/station/${station.id}">View</a>
</section>

#{/list}

<section class="m-2 p-2 border-2 rounded">
    <form action="/stations/addstation" method="POST">

        <label for="station_name" class="text-sm font-medium text-gray-700">Station Name:</label>
        <input type="text" name="station_name" id="station_name" class="form-input" placeholder="Station Name">

        <button type="submit" class="form-button">
            Add Station
        </button>
    </form>
</section>