#{extends 'main.html' /}
#{set title:'Stations' /}

#{menu id:"stations"/}

<h1>${loggedInUser.firstName}'s Stations</h1>

#{list items:stations, as:'station'}

<section class="group m-2 p-2 border-2 rounded-lg hover:bg-gray-100 hover:border-gray-400 transition">

    #{stationcards station:station/}
    <a href="/station/${station.id}">View</a>
    <a href="/stations/deleteStation/${station.id}">Delete</a>
</section>

#{/list}

<section class="m-2 p-2 border-2 rounded">
    <form action="/stations/addstation" method="POST">

        <label for="station_name" class="text-sm font-medium text-gray-700">Station Name:</label>
        <input type="text" name="station_name" id="station_name" class="form-input" placeholder="Station Name">
        <label for="latitude">Latitude:</label>
        <input type="number" name="latitude" id="latitude" class="form-input" step="0.00001" placeholder="0.00000">
        <label for="longitude">Latitude:</label>
        <input type="number" name="longitude" id="longitude" class="form-input" step="0.00001" placeholder="0.00000">
        <button type="submit" class="form-button">
            Add Station
        </button>
    </form>
</section>